name: pkg tests

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Run pkg tests
        run: |
          RUN_RACE=1 bash ./scripts/test-pkg.sh

      - name: Upload pkg coverage
        uses: actions/upload-artifact@v4
        with:
          name: pkg-coverprofile
          path: pkg.cover.out


